.dash-page {
  min-height: 100vh;
  background: linear-gradient(180deg, #1c75bc, #207cca, #2989d8);
  padding: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

/* CARD PRINCIPAL */
.weather-card {
  width: 95%;
  max-width: 800px;
  background: rgba(255,255,255,0.15);
  border-radius: 20px;
  padding: 25px;
  backdrop-filter: blur(10px);
}

.weather-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-city {
  font-size: 26px;
  font-weight: 700;
}

.weather-icon {
  width: 65px;
}

.weather-main {
  margin-top: 10px;
}

.weather-temp {
  font-size: 70px;
  margin: 0;
}

.weather-desc {
  font-size: 22px;
  margin-top: -10px;
}

.weather-minmax {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 18px;
}

/* LINHA DE CARDS */
.info-row {
  display: flex;
  gap: 20px;
  width: 95%;
  max-width: 800px;
  justify-content: space-between;
}

.info-card {
  flex: 1;
  padding: 18px;
  background: rgba(255,255,255,0.15);
  border-radius: 15px;
  backdrop-filter: blur(10px);
}

.info-title {
  display: block;
  font-size: 15px;
}

.info-value {
  font-size: 18px;
  float: right;
}

/* CARD DE RIO */
.river-card {
  width: 95%;
  max-width: 800px;
  background: rgba(255,255,255,0.15);
  padding: 20px;
  border-radius: 18px;
  backdrop-filter: blur(10px);
}

.river-title {
  font-size: 22px;
  margin-bottom: 15px;
}

.river-table {
  width: 100%;
  font-size: 18px;
}

.river-date {
  width: 40%;
}

.river-icon {
  width: 10%;
  text-align: center;
}

.river-level {
  width: 40%;
  text-align: right;
}
